@model List<ResultContactDto>
@{
    ViewData["Title"] = "İletişim Bilgileri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Adres</th>
        <th>Telefon</th>
        <th>Email</th>
        <th>Harita</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Address</td>
            <td>@item.Phone</td>
            <td>@item.Email</td>
            <td><a href="@item.MapUrl" target="_blank">HaritaUrl</a></td>
            <td>
                <button onclick="deleteContact(@item.ContactId)" class="btn btn-danger">Sil</button>
                <a asp-area="Admin" asp-controller="Contact" asp-action="UpdateContact" asp-route-id="@item.ContactId" class="btn btn-primary">Güncelle</a>
            </td>
        </tr>
    }
</table>
<br />

<a asp-area="Admin" asp-controller="Contact" asp-action="CreateContact" class="btn btn-success">Yeni İletişim Ekle</a>


<script>

      function deleteContact(id){
      Swal.fire({
        title: "Silmek İstediğine Emin Misiniz ?",
        text: "Bu işlemi geri alamazsınız !",
        icon: "warning",
        width: 450,
        showCancelButton: true,
        confirmButtonText: "Evet, Sil!",
        cancelButtonText: "İptal"
      }).then((result) => {
        if (result.isConfirmed) {

          Swal.fire({
            title: "Silindi!",
            text: "Silme işlemi başarıyla gerçekleşti.",
            icon: "success",
             width: 450,
            confirmButtonText: "Tamam"
          }).then(() => {
            window.location.href = "/Admin/Contact/DeleteContact/" + id;
          });

        }
      });
    }
</script>

